/* backend */

#memberlist li.passive {
	font-style: italic
}
#memberlist li.passive a{
	color: grey;
}

#memberlist li.boss {
	font-weight: bold;
}

#select_pic_output {
	min-height: 75px
}

#pic_select0r {
	clear: both
}

.select0r_pic {
	float: left;
	min-height: 64px;
	cursor: pointer
}

input.select0r_pic {
	margin: 5px;
}	

.select0r_pic img {
	padding: 2px;
	border: 1px solid white;
}

.select0red_pic img {
	border: 1px solid black;
	background: grey
}

.select0r_pic span.hoverfoo {
	display:none;
	position: absolute;
	z-index: 1337;
	background: white;
	border: 1px solid silver;
	padding-left: 2px;
	padding-right: 2px;
	margin-top: 1px
}

.select0r_pic:hover img {
	border: 1px solid grey;
}

.select0r_pic:hover span.hoverfoo {
	display:block;
}

.floatkiller {
	clear:both; width: 100%'
}

/* frontend */ 

.staff {
	height: 120px;
	padding: 0px;
	margin: 0px
}

.staff .project_member {
	display: inline;
	padding-right: 8px;
	float: left;
	width: 76px;
	margin: 0px;
	text-align: center;

}

.staff .project_member a {
	font-size: small;
	font-weight: bolder;
	text-decoration: none;
	line-height: 100%;
	color: black;
	padding-top: 4px;
	padding-bottom: 4px;
	display: block;
}

.staff .project_member a:hover {
	background: silver;
	color: black
}


.staff .project_member a .username {
	font-size: small;
	font-weight: default;
	padding: 0px;
	
}

.staff .project_member a .usergroup {
	font-size: x-small;
}

.staff .passive a {
	color: silver
}

.staff .boss a {
	color: #990000
}

/* longlist */
.staff-longlist .staff-card {
	margin-block: 1rem;
}
.staff-longlist .staff-card a {
	display: grid;
	grid-template-columns: 100px 1fr;
	grid-auto-flow: column;
	grid-auto-columns: 1fr;
	align-items: center;
	gap: 1rem;
	color: inherit;
	border: 0;
	background: #A0AA9577;
	outline: 2px solid transparent;
	transition: outline-color 0.2s ease-in-out, background 0.2s ease-in-out;
	border-radius: 5px;
	overflow: hidden;
}
.staff-longlist .staff-card.passive a {
	background: #8C948C77;
}
.staff-longlist .staff-card a:hover {
	background: #C0CCB5aa;
	outline-color: #C4B550;
}
.staff-longlist .staff-card.passive a:hover {
	background: #B8BEB2AA;
	outline-color: #dacc7a;
}
.staff-longlist .staff-card a img {
	width: 100px;
	height: 100% !important;
	object-fit: cover;
	object-position: center;
}
.staff-longlist .staff-card a .staff-card__info {
}
.staff-longlist .staff-card a .staff-card__info p {
	margin-inline: 0;
}
.staff-longlist .staff-card a .staff-card__info .user-info {
	font-size: 10px;
}
.staff-longlist .staff-card a .staff-card__info .user-info .m-address::after {
	content: '@';
}
.staff-longlist .staff-card a .academic-degrees td {
	color: inherit;
}
.staff-longlist .staff-card a :is(h3,h4,p,table) {
	margin-block: .5rem !important;
}

	/* user page / long list */

table.user_info, table.user_info td {
	border: none;
	width: auto;
	padding: 0px;
	padding-right: 2em
}

#userpage h4 {
	margin-bottom: 0px;
}

#userpage_avatar {
	float: right;
}

#userpage_head h2 {
	font-size: x-large;
	margin-bottom: 0px
}

#userpage_head h3 {
	font-size: large
}

